{{> themes/Cloth/front-menu}}
<section id="hero" style="background-image: url('https://www.jojo.co.za/wp-content/uploads/2018/08/JOJO-Website-Contact-2.jpg');">
                            <div class="grid-container">
                    <p class="hero__inner">
                    </p><h1 class="hero__title" style="color: #000000b0;">Contact us</h1>
                                                    <h6 class="hero__intro" style="color:#000000b0">The ideal solution for urban environments with limited space and accessibility.</h6></div>
                                            <!-- .hero__inner -->

            </section>
            <div class="col-lg-1"></div>
<div class="col-lg-5" style="padding-top:20px;">
  <div style="   margin-top: 60px;">
    <p style="font-size: 15px;color: #575756;">Brice Tanks has established manufacturing plants across South Africa and its close proximity to its major customers allows the company to provide a cost-effective and timely service and quality products at market related prices.</p>
  </div>
  <div style="    margin-top: 60px;">
    <p style="font-size: 15px;color: #575756;">Brice has been making tanks and working for water security for 40 years. Follow us on Twitter and like our Facebook page to keep in the loop with SA’s biggest and most trusted supplier of water storage solutions.</p>
  </div>
  <div style="    margin-top: 60px;">
    <p style="font-size: 15px;color: #575756;">To view a list of Brice Tanks branches, click here.</p>
  </div>
  <div style="    margin-top: 60px;">
    <p style="font-size: 15px;color: #575756;">Enquiries: Please direct all price and product enquiries to productinfo@Bricetanks.co.za</p>
  </div>
</div>
<div class="col-lg-6" style="padding-top:20px;">
    <form method="post" class="form-horizontal" id="insert_form" action="" data-toggle="validator">
        <div class="col-lg-12" style="box-shadow:0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19)">
            <div class="page-header" >
                <h2 style="text-align:center">Contact us</h2>
            </div>
            <div class="form-group">
              <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <label for="frmContactName" class="col-sm-1 control-label" style="padding:0px;">Name</label>
                    <input type="text" name="frmContactName" class="form-control" value="{{contactName}}" step="any" required/>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <div class="form-group">
              <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <label for="frmContactCompany" class="col-sm-1 control-label" style="padding:0px;">Company</label>
                    <input type="text" name="frmContactCompany" class="form-control" value="{{contactCompany}}" step="any" required/>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
              <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <label for="frmContactEmail" class="col-sm-1 control-label" style="padding:0px;">Email</label>
                    <input type="email" name="frmContactEmail" class="form-control" value="{{contactEmail}}" step="any" required/>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
              <div class="col-sm-2"></div>
                <div class="col-sm-8">
                  <label for="frmContactMessage" class="col-sm-1 control-label" style="padding:0px;">Message</label>
                  <textarea name="frmContactMessage" class="form-control" placeholder="" required="" value="{{contactMessage}}" ></textarea>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
              <div class="col-sm-2"></div>
              <div class="col-sm-8">
                <div style="text-align:right">
                  <!-- <button id="frm_edit_product_save" class="btn btn-success" type="submit" style="border-radius:50px;"> -->
                    <i class="material-icons" style="font-size:40px;">send</i>
                  <!-- </button> -->
                </div>
              </div>
              <div class="col-sm-2"></div>
            </div>


        </div>
    </form>
</div>
  <div class="col-lg-2"></div>
  <div style="float: left;
    margin-bottom: 60px;
    margin-top: 60px;
    padding: 60px 30px;
    background-color: #23a5b9;
    color: white;
    overflow: hidden;"
    class="col-lg-8">
      <div class="col-lg-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.2879802889634!2d80.20593101430534!3d13.08092641601047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52664af71bffff%3A0xe55d1e8d1044d308!2sWiZARA+INFOTECH+PVT+LTD!5e0!3m2!1sen!2sin!4v1562134700084!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>      </div>
      <div>
        <h3 style="font-size: 30px;font-weight: 700;"> Brice Branches</h3>
        <h4 style="font-weight:100">Whether you’re looking for an installer or prefer the DIY-route, we’ve got all the information you need.

The installers listed below have been carefully screened to ensure that they have the right equipment and level of experience to provide you with satisfactory service.

If you’d prefer to install your own tank, please consult our comprehensive, easy-to-use DIY-Installation Guide.<h4>
  <h4 style="font-weight:100">Whether you’re looking for an installer or prefer the DIY-route, we’ve got all the information you need.

The installers listed below have been carefully screened to ensure that they have the right equipment and level of experience to provide you with satisfactory service.

If you’d prefer to install your own tank, please consult our comprehensive, easy-to-use DIY-Installation Guide.<h4>
      </div>

  </div>
  <div class="col-lg-2"></div>
