{{> themes/Cloth/front-menu}}
<section id="hero" style="background-image: url('https://www.jojo.co.za/wp-content/uploads/2018/08/JOJO-Website-Resources-lighter.jpg');">
                            <div class="grid-container">
                    <p class="hero__inner">
                    </p><h1 class="hero__title">Frequently Asked Questions</h1>
                                                    <h6 class="hero__intro" style="color:#FFF">How can we help? Find answers to your most asked Water Tank FAQ's!</h6></div>
                                            <!-- .hero__inner -->

            </section>

            <div id="page" class="hfeed site grid-container container grid-parent">
            		<div id="content" class="site-content">

            <section class="faqs">
                <div class="grid-container">
                    <div class="grid-100">

                            <h2>Choose Your Topic of Interest:</h2>



                                <nav class="faq-nav">
                                    <ul>

                                            <li>
                                                                                        <a href="#faq-topic-1" class="smooth-scroll">Installation</a>
                                                                                </li>


                                            <li>
                                                                                        <a href="#faq-topic-2" class="smooth-scroll">Material Used / Guarantee</a>
                                                                                </li>


                                            <li>
                                                                                        <a href="#faq-topic-3" class="smooth-scroll">Preference &amp; Availability</a>
                                                                                </li>


                                            <li>
                                                                                        <a href="#faq-topic-4" class="smooth-scroll">Additional Product Information</a>
                                                                                </li>


                                            <li>
                                                                                        <a href="#faq-topic-5" class="smooth-scroll">Horizontal / Transporter Tanks</a>
                                                                                </li>


                                            <li>
                                                                                        <a href="#faq-topic-6" class="smooth-scroll">Septic / Conservancy Tanks</a>
                                                                                </li>


                                            <li>
                                                                                        <a href="#faq-topic-7" class="smooth-scroll">Storing Water Inside a Brice</a>
                                                                                </li>


                                            <li>
                                                                                        <a href="#faq-topic-8" class="smooth-scroll">Rainwater Harvesting</a>
                                                                                </li>


                                            <li>
                                                                                        <a href="#faq-topic-9" class="smooth-scroll">Municipal Backup</a>
                                                                                </li>


                                            <li>
                                                                                        <a href="#faq-topic-10" class="smooth-scroll">General Maintenance</a>
                                                                                </li>


                                            <li>
                                                                                        <a href="#faq-topic-11" class="smooth-scroll">Underground Tanks</a>
                                                                                </li>

                                                                </ul>
                                </nav>

                                    </div>





                            <div id="faq-topic-1" class="grid-50">
                                <h3 class="faq-section-title">Installation</h3>                    <div id="accordion-container-1" class="accordion">



                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: What size tank should I buy?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: Every installation is different, the size required will vary depending on the water source, the desired application, the space available, as well as personal preference. We advise buying the largest tank that space, budget and practicality allow. For more detail on our range available, please refer to our <a href="/products/">Full Product Range.</a></p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Basic installation instructions for vertical tanks</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: The tanks should ideally be installed on a 100% level, solid concrete slab of no less than 85mm thick. We recommend that you compact the ground thoroughly to ensure a flat and stable surface.  The slab should be at least 100mm wider than the diameter of the tank to ensure there is no overhang.
            Tanks can also be installed on our steel tank stands purposefully designed by our structural engineers. The tank stand heights vary between 1.5 meter, 3m, 4.5m, 6m and 9m high. Spaces between beams should be no more than 50mm apart.
            For detailed installation guidelines, please see <a href="/water-storage-solutions/">Water Storage Solutions</a></p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Can someone install my tank for me?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: Yes – On our website under “Tank Installers” you will find a list of preferred installers who are equipped and capable to install our tanks. Kindly contact any of them in your area to recommend and quote an installation that will suit your specific requirements.
            You can find our list of Recommend Installers <a href="/installers/">here.</a></p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Can we build our own tank stand/structure out of gum poles, wood etc.?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: We recommend that you make use of the Brice tank stands as they were designed by structural engineers. We are in no position to advise on a structure of any other kind.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Pump vs Elevation as pressure solution?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: In order to get enough pressure by using elevation, a tank stand with a height of at least 3m is required. This will provide pressure of approximately 0.3 bar. Standard municipal pressure is 4 bar (depending on the area). We would advise the use of a pressure pump (if possible) which provides 4 to 6 bar pressure and is more cost effective. Find out more about our pump range <a href="/product-category/water-tank-pumps-kits/">here.</a></p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: The installation of a septic tank and how it works.</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: There is a very specific, highly-recommended installation procedure for all sanitation tanks. Detailed instructions can be viewed <a href="http://ethesis.nitrkl.ac.in/108/1/10401010.pdf">here.</a>
            </p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->



                                </div><!-- .accordion -->
                            </div><!-- .grid-50 -->




                            <div id="faq-topic-2" class="grid-50">
                                <h3 class="faq-section-title">Material Used / Guarantee</h3>                    <div id="accordion-container-2" class="accordion">



                                  <div class="accordion-section">
                                      <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: What material is used to manufacture Brice products?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: Base polyethylene with pigment anti-oxidants and UV stabilizers to ensure an extended service life. Brice uses the best food-grade quality LLDPE (linear low-density polyethylene) for all our roto-moulded products, with the exception of septic and conservancy tanks, which are manufactured with recycled plastic in order to reduce destructive waste output.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: What is the estimated life expectancy of a tank?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: Brice has a <a href="http://ethesis.nitrkl.ac.in/108/1/10401010.pdf">10 year guarantee</a> (extended from 8 years as of 1 September 2017) on material and workmanship. However properly installed Brice tanks have been known to exceed a lifespan in excess of 20 years.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Are Brice tanks UV resistant?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: Yes they are and this UV resistance gives them their durability in harsh SA weather conditions.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Are Brice Tanks BPA free?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: Yes – we use the best food-grade quality virgin LLDPE for our products and our tanks cannot cause any damage to water. Our tanks are UV resistant, and all our water tanks are lined with an FDA approved food grade carbon black lining to prevent algae growth and keep the water stored fresher for longer.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Can I drill additional holes in my Brice Tank?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: Installation and maintenance of and Brice tank should be in accordance with the manufacturer’s specifications. If you drill any additional holes or make any alterations to the tank whatsoever, the integrity of the tank is jeopardized, and your guarantee will fall away. </p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->



                                </div><!-- .accordion -->
                            </div><!-- .grid-50 -->

                                                <div style="clear: both;">



                            <div id="faq-topic-3" class="grid-50">
                                <h3 class="faq-section-title">Preference &amp; Availability</h3>                    <div id="accordion-container-3" class="accordion">



                                  <div class="accordion-section">
                                      <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: What colours are Brice Tanks available in and are there additional costs involved? </h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: Brice manufactures water tanks in various colours and this can be specified when ordering. To view our colour range, please refer to our <a href="http://ethesis.nitrkl.ac.in/108/1/10401010.pdf">Colour Spectrum.</a></p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Do you deliver to the public?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: Our main distribution is through the major reputable hardware stores and chains throughout the country as well as leading agricultural co-operatives. Prices and availability will have to be confirmed with the distributor of your choice. Lead time to delivery is 7 to 10 calendar days for stock items, and 14 calendar days for non- stock items.
            Find out which distributors are in your area <a href="/distributors/">here.</a></p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Where can I buy a Brice tank?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: Brice has factories in Pretoria, Groblersdal, East London, Uitenhage, Worcester, Bloemfontein, Glencoe and Camperdown. Our main distribution is through the major reputable hardware stores and chains throughout the country, as well as leading agricultural cooperations.
            Find distributors in your area <a href="/distributors/">here.</a></p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Are fittings included in the price?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: All standard fittings on tanks are included in the price. A special diesel fitting is required for all oil-based products, please ensure this is specified on your order (a diesel seal can be identified by its yellow nut). For detailed specifications on what each product is supplied with please refer to the specification sheets on each product page.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Are taps included and what is needed additionally to install a tap?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: A variety of 20mm taps, e.g. plastic, lockable solid brass or nickel plated can be ordered separately at additional costs and a 40/20 reducer is also needed to fit a tap to our standard water tanks. For more detail on our range of taps available, click <a href="/product-category/water-tank-taps/">here.</a></p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Are Brice dog kennels available in the same colour range as the Brice tanks?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: Yes, but please make your colour preference clear when ordering your kennel. View our full colour range available <a href="http://ethesis.nitrkl.ac.in/108/1/10401010.pdf">here.</a> Also remember that the marble sandstone colour carries a premium of approximately 10% over the regular solid colours available.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Can I paint my tank?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: Yes – just be sure to paint the tank with a plastic primer (obtainable from all co-ops and leading hardware stores) first, and thereafter with a good quality paint, e.g. Micatex that would shrink and expand simultaneously with the tank in all weather conditions.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->



                                </div><!-- .accordion -->
                            </div><!-- .grid-50 -->




                            <div id="faq-topic-4" class="grid-50">
                                <h3 class="faq-section-title">Additional Product Information</h3>                    <div id="accordion-container-4" class="accordion">



                                  <div class="accordion-section">
                                      <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: What does S.G. mean?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: Density of water:
            When considering which plastic tank to use, it is important to know that they are rated based on the “specific gravity’ (SG) of the substance they are designed to hold. In other words, tanks with a higher specific gravity rating will have thicker walls and will be designed for heavier duty use when compared to another tank made from the same material but with a lower specific gravity.

            Brice tanks are specifically designed for each intended purpose and it is necessary to specify the intended use prior to making a purchase.

            Specific gravity (SG) is the ratio of the density* of a substance to the density of a standard, usually water for a liquid or solid, and air for a gas.
            *Density: mass of the same unit volume

            1 lt water = equals 1 kg of weight
            1000 lt water = equals 1 ton of weight
            2500 lt water = equals 2,5 tons of weight.

            Contact us for recommendations and guidelines based on your specialised chemical-grading requirements.

            </p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: What does (w) (m) and (h) mean and what is the difference?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: (w) - abbreviation for water (SG 1)
                (m) - abbreviation for medium (SG 1.4)
                 (h) - abbreviation for heavy duty (SG1.6)</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: What is the maximum pressure that Brice tanks can handle?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: An above ground Brice tank cannot handle any additional pressure (internal or external). That is why Brice offers a 6000lt underground tank specifically designed to be installed below ground level. For something smaller, you can use any of our conservancy tanks varying from 1250lt to 2500lt. Although these tanks are normally used for sanitation purposes, they can also be used for rainwater or greywater harvesting, and are made strong enough to withstand the pressure from the soil when empty.
            Note: If any other tank is installed below ground level a retaining wall is required.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: What is the maximum temperature that Brice tanks can handle?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: A Brice tank is designed to withstand the full range of temperatures that occur throughout South Africa: However, liquid stored inside the tank should not exceed 40°C.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Is it safe to store petrol/diesel in your tanks?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: NO PETROL can be stored in a Brice tank. However, it is safe to store diesel in any of our chemical medium tanks (based on the material we use), although with the price of diesel in mind, we would suggest that you consider using a chemical heavy duty.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: What is the difference between vertical and Horizontal tanks and how does one use them?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: A vertical tank is the familiar normal upright tank and is used for the storage of water, liquid fertilizers, chemicals and most other liquids.

            A Horizontal tank is also known as a transporter tank. It can be fitted onto the back of a LDV or a truck and can also be used to build a water-car. It is ideal to transport water to dry, rural areas or building sites. The chemical tanks are often used to transport and store liquid fertilizers, diesel, molasses, etc.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: What is the difference between the Brice Slimline™ rainwater harvesting tank and the Slimline™ standard tank?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: The Brice Slimline™ rainwater-harvesting tank includes:
            The tank with the standard inlet/overflow at the top and the outlet at the bottom, as well as an additional fitting for the tap. Also included in the price is a tap and a stainless steel mesh/sieve (fitted beneath the lid to assist in keeping out smaller debris).
            The Slimline™ standard tank includes:
            The tank with the standard inlet/overflow at the top and the outlet at the bottom. The tap and sieve are not included. View our entire Slimline Range available <a href="/product-category/slimline-water-storage-tanks/">here.</a></p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: What are your tank stands made of?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: The Brice tanks’ stands, made of mild steel, were purposefully designed by structural engineer and are built by our technical team. The stands are painted with red oxide to prevent rust. * If you want your tank stand galvanized you are more than welcome to do so yourself, just be sure to state that on your order, in which case they will not be painted with red oxide to facilitate the galvanizing process.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Can the Brice tank alert turn the pump, which keeps the tank full, on or off?  Can the Tank Alert be used in a reservoir?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: NO. The wireless Brice Tank Alert contains an electronic gauge that accurately and reliably measures the water level in your tank and transmits the information to a receiver located in your home.  Communication distance to the receiver is typically greater than 200m (within line of sight) and measurement resolution is down to 1cm. It is also only able to measure the depth of the water up to 3m. The same is valid for a reservoir which typically would be deeper than 3m.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->



                                </div><!-- .accordion -->
                            </div><!-- .grid-50 -->

                                                <div style="clear: both;">



                            <div id="faq-topic-5" class="grid-50">
                                <h3 class="faq-section-title">Horizontal / Transporter Tanks</h3>                    <div id="accordion-container-5" class="accordion">



                                  <div class="accordion-section">
                                      <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Do you have tanks that can be fitted on trucks?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: Brice manufactures a wide range of Horizontal water and chemical tanks (from 240L to 5500L) suitable for use in agriculture, chemical and other industries. A Horizontal tank is also known as a transporter tank and can be fitted onto the back of an LDV or a truck to build a water-car. </p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Can the Horizontal tanks be placed directly onto level ground as a rainwater tank?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: The tank is definitely suitable for rainwater harvesting, as long as you order a water tank and not a chemical tank.

            Note: No tank may be placed on bare ground, since it is not stable and the tank will be damaged by the uneven surface. All tanks must be placed on a solid foundation (a smooth and level concrete slab is ideal) of no less than 85mm thick. It is very important that the surface is level and smooth to ensure a robust base for the tank.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->



                                </div><!-- .accordion -->
                            </div><!-- .grid-50 -->




                            <div id="faq-topic-6" class="grid-50">
                                <h3 class="faq-section-title">Septic / Conservancy Tanks</h3>                    <div id="accordion-container-6" class="accordion">



                                  <div class="accordion-section">
                                      <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: What is the difference between a septic/conservancy tank?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: A septic tank: designed for the disposal of sewerage only, and brings about the digestion of organic matter and discharges the black water into a French drain to soak away into the ground over time.

            Conservancy tank: disposes of both black and grey water, and are used for temporary storage until the waste is pumped out by honey-suckers. Often referred to as ‘heavy-duty’ septic tanks, their structural design is extra strong and sturdy enough to withstand the pressure from the soil when empty.

            It is important that the correct tank is used for the correct application in order to avoid damage to the tank and to ensure the system functions properly.The correct tank will be determined by the type of waste, as well as the desired application and disposal method. For more information click <a href="/product-category/sanitation//">here.</a></p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Which size septic tank should I buy?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: The volume you would require will depend on how often the tank will be pumped out (if it is a conservancy) and how many people will use the facilities on a daily basis.
            1 x hand / face wash = ± 1 - 4 lt water
            1 x toilet flush = ± 8 - 12 lt water
            1 x bath = ± 80 - 150 lt water
            1 x 5-minute shower = ± 80 lt water
            1 x 5kg load of laundry = ± 80 lt water (depends on model of washing machine, etc.)</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Can water from basin and bath go through the septic tank? </h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: No, soapy water or chemicals cannot be used as this will kill the bacteria and stop the normal functioning of the tank.  “Septic Friendly" chemicals can be obtained from most co-ops or stores that specialise in outdoor products.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: How to enable the digestion process of a septic tank? </h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: The digestion process can be enabled by using a starter pack (available at most outdoor stores or co-ops, or by simply putting a piece of rotten meat inside the tank).</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Can I link/connect septic tanks?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: If you want to use the tanks for water storage, it will be possible to connect two or more tanks.  However, if used as septic/conservancy tanks, we strongly advise against it as the purpose of the septic tank is to separate solids from liquid.   Even if the tanks are being used as conservancy tanks that can be pumped out, the tanks should not be joined and pumped out from one place only. If liquids are pumped out from one outlet, pipes will quickly become blocked, creating a huge problem.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->



                                </div><!-- .accordion -->
                            </div><!-- .grid-50 -->

                                                <div style="clear: both;">



                            <div id="faq-topic-7" class="grid-50">
                                <h3 class="faq-section-title">Storing Water Inside a Brice</h3>                    <div id="accordion-container-7" class="accordion">



                                  <div class="accordion-section">
                                      <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Is water stored in a Brice water tank safe to drink?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: All Brice water tanks are lined with an FDA approved food grade carbon black liner that prevents algae growth and ensures your water will stay fresher for longer. A Brice tank does not cause any damage to the water; the quality of the incoming water however may well be an issue.
            Please remember that water collected from the roof of a building will not be clean.  If in emergencies you need to drink the water from the tank, it must be purified.  The best way to purify small amounts of water is to bring it to a rolling boil for a minimum of one minute, thereafter it will be fit for human consumption. For irrigation purposes, however, the water would be perfect.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: How to keep the water inside my Brice fresh?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: What tends to happen with long term storage is that water goes “flat”. To prevent that you can aerate your water. This is achieved by pouring water form one container to another a few times, at a slight height to re-introduce the air.
            You could also draw up a tank roster to rotate/circulate the water a set intervals by using that water for a few days to reduce the water level in your tank. Thereafter, you can refill with fresh municipal water (you could wash your car, fill up the pool, water the garden etc.).</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: How long can municipal water be stored in my Brice tank?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: In ideal circumstances municipal water can be stored inside a Brice tank for a long time, as municipal water is chlorinated and safe to store for extended periods. Just be sure that the tank is properly sealed and that it is a water tank (with the food-grade black inner lining). It is recommended that the water is run once every two weeks to rotate the water and ensure that the best quality water is available.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->



                                </div><!-- .accordion -->
                            </div><!-- .grid-50 -->




                            <div id="faq-topic-8" class="grid-50">
                                <h3 class="faq-section-title">Rainwater Harvesting</h3>                    <div id="accordion-container-8" class="accordion">



                                  <div class="accordion-section">
                                      <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: DIY vs Professional Installer (cost vs benefit), what is better?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A:  This depends on the scale of the project, small projects are perfect for the DIY guy, but larger projects are too risky to get wrong, get a pro.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: What size tank should I use?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: Every installation is different. We would suggest you buy the biggest tank that space, budget and practicality allow (see <a href="/water-storage-solutions/water-storage-solutions-rainwater-harvesting-above-ground/">Rainwater Harvesting Solutions</a> for more detail). The biggest downfall of rainwater harvesting systems is lack of storage capacity.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Do I need a base for the tank?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A:  Tanks must be installed on a sound, level and smooth surface. Level paving will suffice, or a properly designed tank stand. Alternatively a concrete plinth needs to be built, ideally with a concrete surface bed at least 85mm thick.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Do I need to change my gutters or make alterations to my roof?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: With careful planning and execution, existing gutters require very few changes or alterations. </p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: What pre-filtration/accessories do I need?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: Basic rainwater harvesting installations only incorporate a mesh at the top of the tank (underneath the lid) to keep out dust, leaves, mosquitoes etc. Additionally you can incorporate a rain head/leaf eater (removes larger debris) and a first flush diverter (takes off initial dirty water for every rainfall, improving the quality of water).

            The more pre-filtration devices installed, the better the quality of the water. For more detail on our range available, click <a href="/product-category/rainwater-harvesting-accessories/">here.</a></p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Does the tank have an impact on the quality of the water? </h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: All Brice tanks are lined with an FDA approved food grade carbon black liner that prevents algae growth and ensures water stays fresher for longer. A Brice tank does not cause any damage to the water, the quality of the incoming water however may very well be an issue. Please remember that water collected from the roof of a building will not be clean. Should you need to drink the water in an emergency, it must be purified or boiled before it will be fit for human consumption. For irrigation purposes however, the water would be perfect.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Would it work with any type roof?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A:  Thatch is about the only roof surface not suitable for rainwater harvesting, the others just vary in efficiency. Pitched or flat makes no difference.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Maintenance requirements</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A:  A well designed system needs little maintenance but never more than a pool would, for maintenance tips click <a href="http://ethesis.nitrkl.ac.in/108/1/10401010.pdf">here.</a></p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->



                                </div><!-- .accordion -->
                            </div><!-- .grid-50 -->

                                                <div style="clear: both;">



                            <div id="faq-topic-9" class="grid-50">
                                <h3 class="faq-section-title">Municipal Backup</h3>                    <div id="accordion-container-9" class="accordion">



                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: What size tank is ideal for municipal back up?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A:  How much water is needed for municipal back up is dependent on two main factors, how many people will be utilising the water and how long you want the back up to last. The average South African uses 150 litres of water per day. Size of tank required = litres per day x total days back up required</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: How does the pump sense when municipal back up has failed?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: The pressure controller (built in) senses a drop in pressure and starts the pump operation, i.e. pumping water from the tank into house.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: How long can municipal water be stored in a Brice tank?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: In ideal circumstances municipal water can be stored inside a Brice tank for a long time, because it is chlorinated and safe to store for extended periods. Just be sure that the tank is properly sealed and that it is a water tank (with the food-grade black inner lining). It is recommended that the water is run once every two weeks to rotate the water and to ensure that the best quality water is available.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->



                                </div><!-- .accordion -->
                            </div><!-- .grid-50 -->




                            <div id="faq-topic-10" class="grid-50">
                                <h3 class="faq-section-title">General Maintenance</h3>                    <div id="accordion-container-10" class="accordion">



                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: How do I keep my tank clean?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: Depending on the size of the tank, when empty (and if it is not mounted on a tank stand etc), you can simply turn the tank on its side (on grass) and then using a broom/mop and some sunlight dishwasher you can easily clean it. Just make sure to hose out all of the soap when done.</p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: My tank is damaged, how do I get it repaired?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: It can be repaired by using a hot air gun to weld a piece of the same plastic as the tank over the split/crack on the inside and outside of the tank. Our recommended installers can also assist with them, find an installer in your area <a href="/installers/">here.</a></p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->



                                </div><!-- .accordion -->
                            </div><!-- .grid-50 -->

                                                <div style="clear: both;">



                            <div id="faq-topic-11" class="grid-50">
                                <h3 class="faq-section-title">Underground Tanks</h3>                    <div id="accordion-container-11" class="accordion">



                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: What is the use of the 6000L underground tank?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: The 6000L underground tank has many uses: it can be used to store greywater and rainwater, it can also be used as a conservancy tank that can be pumped out and/or septic tank. It is the answer when space and accessibility are an issue – especially in an urban environment. </p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Can I use my underground tank to harvest rainwater?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: Yes - If the tank is used for storage of rainwater from the roof, the water can be filtered through a first flush diverter before entering the tank.  See installation instructions for an underground tank <a href="//sanitation-solutions/conservancy-tanks/">here.</a>  Please also see installation instructions for rainwater harvesting <a href="/water-storage-solutions/water-storage-solutions-rainwater-harvesting-above-ground/">here.</a></p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->


                                            <div class="accordion-section">
                                                <a class="accordion-section-title accordion-section-title__active" href="#accordion-1">
                                                    <h4>Q: Can I clean my underground tank?</h4>
                                                </a>

                                                <div id="accordion-1" class="accordion-section-content" style="">
                                                    <p>A: It is possible to clean an underground tank, by literally climbing into it and scrubbing with a brush and any liquid dishwashing soap, etc.  The opening of the tank at the top is 410mm, which is wide enough for a person with a slight build to climb through. </p>
                                                </div><!-- .accordion-section-content-->
                                            </div><!-- .accordion-section-->



                                </div><!-- .accordion -->
                            </div><!-- .grid-50 -->




                </div><!-- .grid-container -->
            </div></div></div></div></div></section><!-- .faqs -->



            	</div><!-- #content -->
            </div>
