{{> themes/Cloth/front-menu}}



<body class="home page-template page-template-page-home page-template-page-home-php page page-id-4 wp-custom-logo wp-embed-responsive post-image-aligned-center sticky-menu-fade right-sidebar nav-float-right fluid-header separate-containers active-footer-widgets-0 header-aligned-left dropdown-hover"
  itemtype="https://schema.org/WebPage" itemscope>

	<!-- <div class="container">
	  <div style="background-color:#f5f5f5;border-bottom-left-radius: 110px;box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)!important" class="jumbotron" > -->

	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- //Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>

		<!-- // Wrapper for slides -->
		<div class="carousel-inner res" role="listbox" >
			<div class="item active">
				<img src="https://images.pexels.com/photos/1108680/pexels-photo-1108680.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=300&w=940" class="imgRes" alt="New York">
				<!-- <div class="carousel-caption">
	          <h3 style="margin: 10px 0 30px 0;letter-spacing: 10px;font-size: 20px;color: #111;">New York</h3>
	          <p>The atmosphere in New York is lorem ipsum.</p>
	        </div> -->
			</div>

			<div class="item">
				<img src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="Chicago">
				<!-- <div class="carousel-caption">
	          <h3 style="margin: 10px 0 30px 0;letter-spacing: 10px;font-size: 20px;color: #111;">Chicago</h3>
	          <p>Thank you, Chicago - A night we won't forget.</p>
	        </div> -->
			</div>

			<div class="item">
				<img src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="Los Angeles">
				<!-- <div class="carousel-caption">
	          <h3 style="margin: 10px 0 30px 0;letter-spacing: 10px;font-size: 20px;color: #111;">LA</h3>
	          <p>Even though the traffic was a mess, we had the best time playing at Venice Beach!</p>
	        </div> -->
			</div>
		</div>

		<!-- // Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

	<!-- </div>
	</div> -->




	<div id="page" class="hfeed site grid-container  grid-parent">
		<div id="content" class="site-content ">


			<section class="solutions">
				<div class="grid-container container">
					<h2 class="solutions__title">Categories</h2>
					<nav class="solutions-icon-nav">
						<ul class="solutions-icon-nav__list">





							<li class="solutions-icon-nav__list-item-chemical-storage">
								<div class="solutions-icon-nav__list-item-inner"></div>
								<a href="/prod/waterstoragetanks">
									<figure>
										<img src="https://www.jojo.co.za/wp-content/themes/jojotanks/images/icon-water-storage.png" alt="Chemical Storage Solutions" class="solutions-icon-nav__icon">
									</figure>
									<h4 style="letter-spacing: 1.1px;">Water Storage Tanks</h4>
									<div class="icon-wrapper">
										<img class="icon-angle-right" src="https://www.jojo.co.za/wp-content/themes/jojotanks/images/icon-angle-right.png" alt="Icon Angle Right">
										<img class="icon-plus" src="https://www.jojo.co.za/wp-content/themes/jojotanks/images/icon-plus-white.png" alt="Icon Plus">
									</div><!-- .icon-wrapper -->
								</a>
							</li>

							<li class="solutions-icon-nav__list-item-agricultural">
								<div class="solutions-icon-nav__list-item-inner"></div>
								<a href="/prod/waterfiltration">
									<figure>
										<img src="https://www.jojo.co.za/wp-content/themes/jojotanks/images/icon-water-filtration-solutions.png" alt="Agricultural Solutions" class="solutions-icon-nav__icon">
									</figure>
									<h4 style="letter-spacing: 1.1px;">Water Filtration</h4>
									<div class="icon-wrapper">
										<img class="icon-angle-right" src="https://www.jojo.co.za/wp-content/themes/jojotanks/images/icon-angle-right.png" alt="Icon Angle Right">
										<img class="icon-plus" src="https://www.jojo.co.za/wp-content/themes/jojotanks/images/icon-plus-white.png" alt="Icon Plus">
									</div><!-- .icon-wrapper -->
								</a>
							</li>

							<li class="solutions-icon-nav__list-item-garden-and-home">
								<div class="solutions-icon-nav__list-item-inner"></div>
								<a href="/prod/chemicalstoragetanks">
									<figure>
										<img src="https://www.jojo.co.za/wp-content/themes/jojotanks/images/icon-chemical-storage.png" alt="Garden &amp; Home Storage Solutions" class="solutions-icon-nav__icon">
									</figure>
									<h4 style="letter-spacing: 1.1px;">Chemical Storage Tanks</h4>
									<div class="icon-wrapper">
										<img class="icon-angle-right" src="https://www.jojo.co.za/wp-content/themes/jojotanks/images/icon-angle-right.png" alt="Icon Angle Right">
										<img class="icon-plus" src="https://www.jojo.co.za/wp-content/themes/jojotanks/images/icon-plus-white.png" alt="Icon Plus">
									</div><!-- .icon-wrapper -->
								</a>
							</li>

							<li class="solutions-icon-nav__list-item-sanitation-storage">
								<div class="solutions-icon-nav__list-item-inner"></div>
								<a href="/prod/sanitationtanks">
									<figure>
										<img src="https://www.jojo.co.za/wp-content/themes/jojotanks/images/icon-sanitation-storage.png" alt="Sanitation Storage Solutions" class="solutions-icon-nav__icon">
									</figure>
									<h4 style="letter-spacing: 1.1px;">Sanitation Tanks</h4>
									<div class="icon-wrapper">
										<img class="icon-angle-right" src="https://www.jojo.co.za/wp-content/themes/jojotanks/images/icon-angle-right.png" alt="Icon Angle Right">
										<img class="icon-plus" src="https://www.jojo.co.za/wp-content/themes/jojotanks/images/icon-plus-white.png" alt="Icon Plus">
									</div><!-- .icon-wrapper -->
								</a>
							</li>

							<li class="solutions-icon-nav__list-item-pump">
								<div class="solutions-icon-nav__list-item-inner"></div>
								<a href="/prod/agriculturalproducts">
									<figure>
										<img src="https://www.jojo.co.za/wp-content/themes/jojotanks/images/icon-agricultural.png" alt="Pump Solutions" class="solutions-icon-nav__icon">
									</figure>
									<h4 style="letter-spacing: 1.1px;">Agricultural Products</h4>
									<div class="icon-wrapper">
										<img class="icon-angle-right" src="https://www.jojo.co.za/wp-content/themes/jojotanks/images/icon-angle-right.png" alt="Icon Angle Right">
										<img class="icon-plus" src="https://www.jojo.co.za/wp-content/themes/jojotanks/images/icon-plus-white.png" alt="Icon Plus">
									</div><!-- .icon-wrapper -->
								</a>
							</li>

							<li class="solutions-icon-nav__list-item-product-range">
								<div class="solutions-icon-nav__list-item-inner"></div>
								<a href="/prod/gardenandhomeproducts">
									<figure>
										<img src="https://www.jojo.co.za/wp-content/themes/jojotanks/images/icon-garden-and-home.png" alt="Full Product Range" class="solutions-icon-nav__icon">
									</figure>
									<h4 style="letter-spacing: 1.1px;">Garden and Home Products</h4>
									<div class="icon-wrapper">
										<img class="icon-angle-right" src="https://www.jojo.co.za/wp-content/themes/jojotanks/images/icon-angle-right.png" alt="Icon Angle Right">
										<img class="icon-plus" src="https://www.jojo.co.za/wp-content/themes/jojotanks/images/icon-plus-white.png" alt="Icon Plus">
									</div><!-- .icon-wrapper -->
								</a>
							</li>

							<li class="solutions-icon-nav__list-item-pump">
								<div class="solutions-icon-nav__list-item-inner"></div>
								<a href="/prod/pumpproducts">
									<figure>
										<img src="https://www.jojo.co.za/wp-content/themes/jojotanks/images/icon-pump-solutions.png" alt="Pump Solutions" class="solutions-icon-nav__icon">
									</figure>
									<h4 style="letter-spacing: 0.1em;">Pump Products</h4>
									<div class="icon-wrapper">
										<img class="icon-angle-right" src="https://www.jojo.co.za/wp-content/themes/jojotanks/images/icon-angle-right.png" alt="Icon Angle Right">
										<img class="icon-plus" src="https://www.jojo.co.za/wp-content/themes/jojotanks/images/icon-plus-white.png" alt="Icon Plus">
									</div><!-- .icon-wrapper -->
								</a>
							</li>

						</ul>
					</nav><!-- .solutions-icon-nav -->
				</div>
			</section><!-- .solutions -->

			<section class="call-to-action container">
				<div style="background-color:#7d8284" class="grid-container row">
					<div class="col-lg-6">
						<div class="call-to-action__first-inner">
							<div class="sep sep-white"></div>
							<h3>Buy a Brice Tank</h3>
							<p style="letter-spacing: 0.1em;">
								Join the Brice family today.
							</p>
							<p style="letter-spacing: 0.1em;">
								Find your nearest Brice Tank distributor by either searching your area or using the handy mapping functionality.
							</p>
							<p >
								<a href="/" class="jjt-btn jjt-btn-alt">

									Find a Distributor

								</a>
							</p>
						</div><!-- .call-to-action__first-inner -->
					</div>
					<div class="col-lg-6">
						<div class="call-to-action__last-inner">
							<div class="sep sep-white"></div>
							<h3>Install a Brice Tank</h3>
							<p style="letter-spacing: 0.1em;">
								Whether you’re looking for an installer or prefer the DIY-route, we’ve got all the information you need.
							</p>
							<p style="letter-spacing: 0.1em;">
								The installers listed below have been carefully screened to ensure that they have the right equipment and level of experience to provide you with satisfactory service.
							</p>
							<p style="letter-spacing: 0.1em;">
								If you’d prefer to install your own tank, please consult our comprehensive, easy-to-use DIY-Installation Guide.
							</p>
							<p>
								<a href="/" class="jjt-btn jjt-btn-alt">
									Find an Installer
								</a>
							</p>
							<p>
								<a href="/" class="jjt-btn jjt-btn-alt">
									DIY Installation
								</a>
							</p>
						</div><!-- .call-to-action__last-inner -->
					</div>
				</div><!-- .grid-container -->
			</section><!-- .call-to-action -->
			<section class="why" style="background-image: url('https://www.jojo.co.za/wp-content/themes/jojotanks/images/why-bg.jpg');">
				<div class="grid-container container grid-parent row" style="margin-left: auto;margin-right:auto;">
					<h2 class="why__title">Why Brice?</h2>
					<div class="col-lg-6">
						<div class="why__first-inner">
							<figure class="why__warranty-img">
								<img src="https://www.jojo.co.za/wp-content/themes/jojotanks/images/10-year-warranty.png" alt="10 Year Warranty">
							</figure><!-- .why__warranty-img -->
							<div class="why__benefits-content">
								<h3 class="why__benefits-content-title">Tank Benefits</h3>
								<p style="letter-spacing: 0.1em;">
									When you purchase a Brice tank, you invest in a high-quality product from South Africa’s leading manufacturer of polyethylene tank solutions.
								</p>
								<p style="letter-spacing: 0.1em;">
									Our products offer the following benefits:
								</p>
								<ul>
									<li style="letter-spacing: 0.1em;">All Brice polyethylene products come with a 10-year guarantee (extended from an 8-year guarantee as of 1 September 2017).</li>
									<li style="letter-spacing: 0.1em;">Tanks are available in different formats, with a variety of fittings and accessories to extend performance capabilities and versatility.</li>
									<li style="letter-spacing: 0.1em;">Products are manufactured with the best food-grade, quality virgin LLDPE.</li>
									<li style="letter-spacing: 0.1em;">With a UV-stabilised outer layer, our products are designed to withstand the harsh African climate.</li>
									<li style="letter-spacing: 0.1em;">The food-grade, black inner lining in our water tanks prevents algae growth and keeps water fresher for longer.</li>
									<li style="letter-spacing: 0.1em;">A stringent quality-control system ensures that products meet specified design standards.</li>
									<li style="letter-spacing: 0.1em;">All Brice Water and Chemical Tanks are manufactured in accordance with the specifications outlined in <a href="/">SANS 1731:2017*</a></li>
									<li style="letter-spacing: 0.1em;">All Vertical, Horizontal and Septic Tanks carry a quality certification from the Agrément Board of South Africa.</li>
								</ul>
								<p style="letter-spacing: 0.1em;">
									Find more information on our compliance to Industry Tank Standards <a href="/">here.</a>
								</p>
							</div><!-- .why__benefits-content -->
						</div><!-- .why__first-inner -->
					</div>
					<div class="col-lg-6">
						<div class="why__last-inner">
							<div class="why__testimonials">
								<h3 class="why__testimonials-title">Testimonials</h3>
								<div class="why__testimonials-carousel">
									<div class="why__testimonials-testimonial">
										<blockquote>
											<p style="font-size: 1.2em;font-style: italic;">Wow, Brice Tanks you rock! I just spoke to the most friendly, polite, knowledgeable and most helpful customer service lady at your call centre called Lesedi, and she provided all the information I needed about your Brice Tanks and
												where to find them. Thank you guys!</p>
											<!-- <cite>- <span></span></cite> -->
										</blockquote>
										<hr style="width:100%; height:2px; margin:17px 0px; background-color: #008ad1;" />
										<blockquote>
											<p style="font-style: italic;">
												On behalf of Rainbow Warriors SA, The Bonecrusher Crew and The Stray Cat Gang, we would like to thank Brice Tanks for their life-saving donation of a 5000lt water tank to the Rainbow Warriors animal shelter in Hibberdene, Kwazulu-Natal.
											</p>
											<p style="font-style: italic;">
												For the past five years the Lower South Coast has had severe water problems. This year we were hardest hit and had to endure 16 straight days without a drop of water. As a shelter this becomes a major crisis, as water is like gold to us.
												Our dogs and cats drink between 80 and 100lt per day, our kennels are washed and scrubbed down each day in order to prevent various diseases that are spread from animal to animal and animal to human.
											</p>
											<p style="font-style: italic;">
												Unless you have had to face a water crisis day after day, knowing that so many lives depend on you for water, you will never understand just how much this has meant to us.
											</p>
											<p style="font-style: italic;">
												Thank you once again,<br />
												Terence (Tee) Olivier - Rainbow Warriors SA
											</p>
											<!-- <cite>- <span></span></cite> -->
										</blockquote>
									</div><!-- .why__testimonials-testimonial -->
								</div><!-- .why__testimonials-carousel -->
							</div><!-- .why__testimonials -->
						</div><!-- .why__last-inner -->
					</div>
				</div><!-- .grid-container -->
			</section><!-- .why -->


			<section class="general-info container">
				<div style="background-color:#7d8284" class="grid-container row">
					<div class="col-lg-4">
						<div class="general-info__first-inner">
							<div class="sep sep-white"></div>
							<h3>FAQs</h3>
							<p style="letter-spacing: 0.1em;">
								How can we help you?
							</p>
							<p style="letter-spacing: 0.1em;">
								Find the answers to your most Frequently Asked Questions.
							</p>
							<p>
								<a href="/" class="jjt-btn jjt-btn-short jjt-btn-alt">

									Read More

								</a>
							</p>
						</div><!-- .general-info__first-inner -->
					</div>
					<div class="col-lg-4">
						<div class="general-info__middle-inner">
							<div class="sep sep-white"></div>
							<h3>Solutions</h3>
							<p style="letter-spacing: 0.1em;">
								From filters to tanks, Brice offers a wide range of solutions to suite various applications including domestic, agricultural, industrial and commercial.
							</p>
							<p style="letter-spacing: 0.1em;">
								Having trouble finding the ideal solution for you? Have a look at what we have available and don’t hesitate to ask for assistance should you need any guidance.
							</p>
							<ul class="storage-solutions-links">
								<li><a href="/" style="letter-spacing: 0.1em;">Water Storage Solutions</a></li>
								<li><a href="/" style="letter-spacing: 0.1em;">Water Filtration Solutions</a></li>
								<li><a href="/" style="letter-spacing: 0.1em;">Chemical Solutions</a></li>
								<li><a href="/" style="letter-spacing: 0.1em;">Agricultural Solutions</a></li>
								<li><a href="/" style="letter-spacing: 0.1em;">Garden &amp; Home Solutions</a></li>
								<li><a href="/" style="letter-spacing: 0.1em;">Sanitation Solutions</a></li>
								<li><a href="/" style="letter-spacing: 0.1em;">Pump Solutions</a></li>
							</ul>
						</div><!-- .general-info__last-inner -->
					</div>
					<div class="col-lg-4">
						<div class="general-info__middle-inner">
							<div class="sep sep-white"></div>
							<h3>Resources</h3>
							<p style="letter-spacing: 0.1em;">
								Find installation guides, brochures & specification sheets, our 10-year warranty and other important documents here.
							</p>
							<ul>
								<li><a href="/" style="letter-spacing: 0.1em;">Water Storage Installation Guide</a></li>
								<li><a href="/" style="letter-spacing: 0.1em;">Sanitation Storage Installation Guide</a></li>
								<li><a href="/" style="letter-spacing: 0.1em;">Product Brochures &amp; Leaflets</a></li>
								<li><a href="/" style="letter-spacing: 0.1em;">Warranties &amp; Certificates</a></li>
							</ul>


							<p>
								<a href="/" class="jjt-btn jjt-btn-short jjt-btn-alt">

									Read More

								</a>
							</p>
						</div><!-- .general-info__last-inner -->
					</div>
				</div><!-- .grid-container -->
			</section><!-- .general-info -->

		</div><!-- #content -->
	</div><!-- #page -->

	<section class="contact-module" style="margin-bottom:-40px">
		<div class="grid-container">
			<div class="grid-100">
				<p>For enquiries contact <a href="tel:+270116958300">830 001 1695 </a> or email <a href="mailto:productinfo@bricetanks.co.za">productinfo@bricetanks.co.za</a></p>
				<ul class="contact-module__social-list">
					<li>
						<a href="https://www.facebook.com/JoJoTanksSaveWater/ " target="_blank"></a>
					</li>
					<li>
						<a href="https://twitter.com/jojo_tanks?lang=en" target="_blank"></a>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<!-- <div class="site-footer">
		<footer class="site-info" itemtype="https://schema.org/WPFooter" itemscope>
			<div class="inside-site-info grid-container grid-parent">
				<div class="copyright-bar">
					&copy; Brice 2019 </div>
			</div>
		</footer>
	</div> -->




</body>
