{{> themes/Cloth/front-menu}}
<style>
  a:hover {
    background-color: #000;
  }
</style>
<section id="hero" style="background-image: url('https://www.jojo.co.za/wp-content/uploads/2018/08/JOJO-Website-Resources-lighter.jpg');">
  <div class="grid-container">
    <p class="hero__inner">
    </p>
    <h1 class="hero__title">Resources and information</h1>
    <h6 class="hero__intro" style="color:#FFF">The ideal solution for urban environments with limited space and accessibility.</h6>
  </div>
  <!-- .hero__inner -->

</section>
<div id="page" class="hfeed site grid-container container grid-parent">
  <div id="content" class="site-content">

    <div class="resources-wrapper">

      <div class="grid-container">


        <div class="grid-70">


          <section id="res-diy">
            <h2 class="resources-title">DIY Installation</h2>
            <p></p>

            <ul class="resources-list">
              <li>
                <a href="/">
                  <img src="https://www.jojo.co.za/wp-content/uploads/2018/08/DIY-Installation-Guide.jpg" alt="DIY Installation Brochures &amp; Maintenance Tips">
                  <h4>DIY Installation Brochures &amp; Maintenance Tips</h4>
                </a>
              </li>
              <li>
                <a href="/contact">
                  <img src="https://www.jojo.co.za/wp-content/uploads/2018/08/DIY-Request-Hepp.jpg" alt="Contact us for assistance">
                  <h4>Contact us for assistance</h4>
                </a>
              </li>
            </ul>
          </section><!-- .res-diy -->

          <hr>


          <section id="res-pro">
            <h2 class="resources-title">Product Catalogue</h2>
            <p></p>

            <div class="resources-product-categories">

              <div class="resources-product-categories-col-wrapper">

                <div class="resources-product-categories-col-1">


                  <p>
                    <label for="product-categories">Browse Product Categories</label>
                    <select class="product-category-select" style="padding:10px;" name="product-categories" id="product-categories">
                      <option value="-1">-- Select Product Category --</option>
                      <option value="1401">Water Storage Tanks</option>
                      <option value="5">Water Filtration</option>
                      <option value="78">Chemical Storage Tanks</option>
                      <option value="13">Sanitation Tanks</option>
                      <option value="14">Agricultural Products</option>
                      <option value="15">Garden and Home Products</option>
                      <option value="12">Pump Products</option>
                    </select>
                  </p>

                  <p><select style="display: none;" class="product-sub-categories-select" name="product-sub-categories" id="product-sub-categories"></select></p>

                </div><!-- .resources-product-categories-col-1 -->

                <div class="resources-product-categories-col-2">


                  <a href="/" class="jjt-btn">
                    <span>
                      Brochures &amp; Leaflets
                      <i class="fas fa-angle-right"></i>
                      <i class="fas fa-plus"></i>
                    </span>
                  </a>


                </div><!-- .resources-product-categories-col-2 -->

              </div><!-- .resources-product-categories-col-wrapper -->

              <div class="category-filter-results"></div><!-- .category-filter-results -->

            </div>

          </section><!-- .res-pro -->

          <hr>


          <section id="res-war">

            <h2 class="resources-title">Warranties &amp; Certificates</h2>

            <p>When you purchase a Brice product, you invest in a high-quality item designed to improve your quality of life by providing a solution that answers a unique need.</p>
            <a href="/" class="jjt-btn">
              <span>
                Learn&nbsp;more
              </span>
            </a>

          </section><!-- #res-war -->


          <hr>


          <section id="res-colour-spectrum">
            <h2 class="resources-title">Colour Spectrum</h2>

            <a href="http://ethesis.nitrkl.ac.in/108/1/10401010.pdf" target="_blank" class="jjt-btn">
              <span>
                Download

              </span>
            </a>

          </section><!-- .res-colour-spectrum -->

          <hr>


          <section id="res-value-proposition">
            <h2 class="resources-title">Value Proposition</h2>

            <a href="http://ethesis.nitrkl.ac.in/108/1/10401010.pdf" target="_blank" class="jjt-btn">
              <span>
                Download

              </span>
            </a>

          </section><!-- .res-value-proposition -->


        </div><!-- .grid-70 -->
      </div><!-- .grid-container -->
    </div><!-- .resources-wrapper -->



  </div><!-- #content -->
</div>
