{{> themes/Cloth/front-menu}}


<div id="page" class="hfeed site grid-container grid-parent">
		<div id="content" class="site-content">

<div class="jjt-blog-wrapper">
	<div class="grid-container container grid-parent">
		<div class="grid-100">


				<article id="post-4974" class="post-4974 page type-page status-publish" itemtype="https://schema.org/CreativeWork" itemscope="itemscope">

					<header class="post-header">

						<h1 class="post-header__title" itemprop="headline">Warranty Registration</h1>
						<figure class="post-header__img">
													</figure>

					</header><!-- .post-header -->

					<div class="grid-continer grid-parent">

						<div class="grid-100">
							<div class="entry-content" itemprop="text">

<p><strong style="letter-spacing:0.1em;">Just bought a Brice product?</strong></p>



<p style="letter-spacing:0.1em;">Register your proof of purchase below for safe-keeping.&nbsp; We’ll also send you handy reminders when it’s time to replace your filter cartridges.</p>



                <div class="gf_browser_chrome gform_wrapper" id="gform_wrapper_2" style="">
                  <div id="gf_2" class="gform_anchor" tabindex="-1"></div>
                  <form method="post" enctype="multipart/form-data" target="gform_ajax_frame_2" id="gform_2" action="/warranty-registration/#gf_2">
                    <input type="hidden" class="gforms-pum"  value="{&quot;closepopup&quot;:false,&quot;closedelay&quot;:0,&quot;openpopup&quot;:false,&quot;openpopup_id&quot;:0}">
                        <div class="gform_body">
                          <ul id="gform_fields_2" class="gform_fields top_label form_sublabel_below description_below">
                            <li id="field_2_1" class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
                              <label class="gfield_label" for="input_2_1">Name
                                <span class="gfield_required">*
                                </span>
                              </label>
                              <div class="ginput_container ginput_container_text row">
                                <input name="input_1" id="input_2_1" type="text" value="" style="margin-left:15px;" class="medium col-lg-6" aria-required="true" aria-invalid="false">
                              </div>
                            </li>
                            <li id="field_2_2" class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
                              <label class="gfield_label" for="input_2_2">Surname
                                <span class="gfield_required">*
                                </span>
                              </label>
                              <div class="ginput_container ginput_container_text row">
                                <input name="input_2" id="input_2_2" type="text" value="" style="margin-left:15px;" class="medium col-lg-6" aria-required="true" aria-invalid="false">
                              </div>
                            </li>
                            <li id="field_2_4" class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
                              <label class="gfield_label" for="input_2_4">Mobile Phone Number
                                <span class="gfield_required">*
                                </span>
                              </label>
                              <div class="ginput_container ginput_container_phone row">
                                <input name="input_4" id="input_2_4" type="text" value="" style="margin-left:15px;" class="medium col-lg-6" aria-required="true" aria-invalid="false">
                              </div>
                            </li>
                            <li id="field_2_5" class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
                              <label class="gfield_label" for="input_2_5">Email Address
                                <span class="gfield_required">*
                                </span>
                              </label>
                              <div class="ginput_container ginput_container_email row">
                            <input name="input_5" id="input_2_5" type="text" value="" style="margin-left:15px;" class="medium col-lg-6" aria-required="true" aria-invalid="false">
                        </div>
                      </li>
                      <li id="field_2_7" class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
                        <label class="gfield_label" for="input_2_7">Type of product
                          <span class="gfield_required">*
                          </span>
                        </label>
                        <div class="ginput_container ginput_container_select row">
                          <select name="input_7" id="input_2_7" style="margin-left:15px;padding:10px" class="medium gfield_select col-lg-6" aria-required="true" aria-invalid="false">
                            <option value="waterstoragetanks" selected="selected">Water Storage Tanks</option>
                            <option value="waterfiltration">Water Filtration</option>
                            <option value="chemicalstoragetanks">Chemical Storage Tanks</option>
                            <option value="sanitationtanks">Sanitation Tanks</option>
                            <option value="agriculturalproducts">Agricultural Products</option>
                            <option value="gardenandhomeproducts">Garden and Home Products</option>
                            <option value="pumpproducts">Agricultural Products</option>
                          </select>
                        </div>
                      </li>

                      <li id="field_2_9" class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
                        <label class="gfield_label" for="input_2_9">Name of store / shop where you purchased your product
                          <span class="gfield_required">*
                          </span>
                        </label>
                        <div class="ginput_container ginput_container_text row">
                          <input name="input_9" id="input_2_9" type="text" value="" style="margin-left:15px;" class="medium col-lg-6" aria-required="true" aria-invalid="false">
                        </div>
                      </li>
                      <li id="field_2_13" class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
                        <label class="gfield_label" for="input_2_13">City where you purchased your product
                          <span class="gfield_required">*
                          </span>
                        </label>
                        <div class="ginput_container ginput_container_text row">
                          <input name="input_13" id="input_2_13" type="text" value="" style="margin-left:15px;" class="medium col-lg-6" aria-required="true" aria-invalid="false">
                        </div>
                      </li>
                      <li id="field_2_12" class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
                        <label class="gfield_label" for="input_2_12">Province where you purchased your product
                          <span class="gfield_required">*
                          </span>
                        </label>
                        <div class="ginput_container ginput_container_select row">
                          <select name="input_12" id="input_2_12" class="medium gfield_select col-lg-6" style="margin-left:15px; padding:10px;" aria-required="true" aria-invalid="false">
                            <option value="Eastern Cape">Eastern Cape</option>
                            <option value="Free State">Free State</option>
                            <option value="Gauteng">Gauteng</option>
                            <option value="KwaZulu-Natal">KwaZulu-Natal</option>
                            <option value="Limpopo">Limpopo</option>
                            <option value="Mpumalanga">Mpumalanga</option>
                            <option value="North West">North West</option>
                            <option value="Northern Cape">Northern Cape</option>
                            <option value="Western Cape">Western Cape</option>
                          </select>
                        </div>
                      </li>
                      <li id="field_2_14" class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
                        <label class="gfield_label" for="input_2_14">Date of purchase
                          <span class="gfield_required">*
                          </span>
                        </label>
                        <div class="ginput_container ginput_container_date row">
                            <input name="input_14" id="input_2_14" type="text" value="" style="margin-left:15px;" class="datepicker medium dmy datepicker_with_icon hasDatepicker col-lg-6" placeholder="06/07/2019" aria-describedby="input_2_14_date_format">
                        </div>
                        <input type="hidden" id="gforms_calendar_icon_input_2_14" class="gform_hidden" value="https://www.jojo.co.za/wp-content/plugins/gravityforms/images/calendar.png">
                      </li>
                      <li id="field_2_18" class="gfield field_sublabel_below field_description_below gfield_visibility_visible">
                        <label class="gfield_label" for="input_2_18">Upload a photo of your Receipt or Invoice for safe-keeping.</label>
                        <div class="ginput_container ginput_container_fileupload">
                          <input type="hidden" name="MAX_FILE_SIZE" value="1048576">
                          <input name="input_18" id="input_2_18" type="file" class="medium" aria-describedby="validation_message_2_18 live_validation_message_2_18 extensions_message_2_18" onchange="javascript:gformValidateFileSize( this, 1048576 );">
                          <span id="extensions_message_2_18" class="screen-reader-text">Accepted file types: jpg, jpeg.</span>
                          <div class="validation_message" id="live_validation_message_2_18"></div>
                        </div>
                        <div class="gfield_description" id="gfield_description_2_18">Jpeg files under 1MB in size only.</div>
                      </li>
                      <li id="field_2_19" class="gfield gsection field_sublabel_below field_description_below gfield_visibility_visible">
                        <h2 class="gsection_title">Declaration &amp; Warranty Activation</h2>
                      </li>
                      <li id="field_2_16" class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
                        <label class="gfield_label">Consent
                          <span class="gfield_required">*
                          </span>
                        </label>
                        <div class="ginput_container ginput_container_consent">
                          <input name="input_16.1" id="input_2_16_1" type="checkbox" value="1" aria-describedby="gfield_consent_description_2_16" aria-required="true" aria-invalid="false">
                           By clicking I agree to continue, I hereby:
                           <input type="hidden" name="input_16.2" value="By clicking I agree to continue, I hereby:" class="gform_hidden">
                           <input type="hidden" name="input_16.3" value="2" class="gform_hidden">
                         </div>
                         <div class="gfield_description gfield_consent_description" id="gfield_consent_description_2_16">
                           <ul style=""><br>
                            <li style="margin:0px 0px;">Agree to Brice's
                              <a href="/">Legal Notice</a> and <a href="/">Privacy Policy</a>.
                            </li><br>
                            <li style="margin:0px 0px;">Agree to receive occasional email newsletters containing water saving tips, promotions and other marketing material.
                            </li><br>
                            <li style="margin:0px 0px;">Agree to safely store the original receipt of purchase or a high-res digital copy in case of a warranty claim or any other customer enquiry.
                            </li><br>
                            </ul>
                          </div>
                        </li>
                        <li id="field_2_17" class="gfield field_sublabel_below field_description_below gfield_visibility_visible">
                          <label class="gfield_label" for="input_2_17">CAPTCHA</label>
                          <div id="input_2_17" class="ginput_container ginput_recaptcha" data-sitekey="6LeZRJkUAAAAAFQVcKGOZlR93wB34b28tS7yGU7K" data-theme="light" data-tabindex="0" data-badge="">
                            <div style="width: 304px; height: 78px;">
                              <div>
                                <iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LeZRJkUAAAAAFQVcKGOZlR93wB34b28tS7yGU7K&amp;co=aHR0cHM6Ly93d3cuam9qby5jby56YTo0NDM.&amp;hl=en&amp;v=v1561357937155&amp;theme=light&amp;size=normal&amp;cb=fvfds2o9va30" width="304" height="78" role="presentation" name="a-cv5ovkuy2sx8" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox">
                                </iframe>
                              </div>
                              <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;">
                              </textarea>
                            </div>
                          </div>
                        </li>

                      </ul></div>
        <div class="gform_footer top_label " style="text-align:right;">
           <input type="submit" id="gform_submit_button_2" class="gform_button button " style="padding:10px 20px;" value="Agree &amp; Continue to Submit your Details" tabindex="1" >
           <input type="hidden" name="gform_ajax" value="form_id=2&amp;title=&amp;description=&amp;tabindex=0">
            <input type="hidden" class="gform_hidden" name="is_submit_2" value="1">
            <input type="hidden" class="gform_hidden" name="gform_submit" value="2">

            <input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
            <input type="hidden" class="gform_hidden" name="state_2" value="WyJ7XCIxNi4xXCI6XCJlMDE1YzgxZmMwMzhiOWMyMzg5NmI2MjhlNjUzN2MyZVwiLFwiMTYuMlwiOlwiZDc5M2NkZWVjMTQ2OWYxMGFhZjQ1ODNmNGY2NGI3N2ZcIixcIjE2LjNcIjpcIjg2YWJmNTY3ZDI3ZDliNjUyZGUwOWE3NzBiNTEyYjI4XCJ9IiwiMDZkZDViYjYzYTJlNmU3MzMyZWJmMDE0NWI5ZGJkYmMiXQ==">
            <input type="hidden" class="gform_hidden" name="gform_target_page_number_2" id="gform_target_page_number_2" value="0">
            <input type="hidden" class="gform_hidden" name="gform_source_page_number_2" id="gform_source_page_number_2" value="1">
            <input type="hidden" name="gform_field_values" value="">

        </div>
                        </form>
                        </div>
                <iframe style="display:none;width:0px;height:0px;" src="about:blank" name="gform_ajax_frame_2" id="gform_ajax_frame_2">This iframe contains the logic required to handle Ajax powered Gravity Forms.</iframe>

							</div><!-- .entry-content -->
						</div>

					</div><!-- .grid-container -->

				</article>


		</div>
	</div><!-- .grid-container -->
</div><!-- .jjt-blog-wrapper -->



	</div><!-- #content -->
</div>
